.dec-text {
  background-image: linear-gradient(to right, #ffc300 0%, #ffc300 100%);
  background-size: 100% 0.4em;
  background-position: 0 90%;
  background-repeat: repeat-x;
  display: inline;
}

.resize-handler-inner {
  position: absolute;
  top: 0.25em;
  bottom: 0.25em;
  left: 0.25em;
  right: 0.25em;
  border-radius: 0.25em;
  background-color: var(--background-color);
  transition: background-color 0.2s linear;
}

.resize-handler-outer {
  flex: 0 0 0.8em;
  position: relative;
  outline: none;
  background-color: #eee;
}

.resize-handler-outer:hover .resize-handler-inner {
  display: block;
}

.arrow-img {
  transition: transform 0.3s ease-in-out;
}

.hidden-checkbox {
  display: none;
}

/* #rotateCheckbox:checked  +  label button img {
  transform: rotate(180deg);
} */

#rotateCheckbox:checked + button img {
  transform: rotate(180deg);
}

.icon {
  width: 1em;
  height: 1em;
  position: absolute;
  left: calc(50% - 0.5rem);
  top: calc(50% - 0.5rem);
}

.noise {
  /* background: url(../public/images/noise.png); */
  height: 100%;
  min-height: 100vh;
}
.noise-bg {
  background-image: url(../public/images/noise.png);
}

body {
  font-family: "Inter", sans-serif;
}

.glassBorder {
  border: 1px solid hsl(0, 0%, 18%);
}

.instructions {
  border-right: 1px solid #dee2e6;
  overflow-y: scroll !important;
}

.active-lab-button .delete-button {
  opacity: 0;
  visibility: hidden; /* Initially hide the delete button */
  transition: opacity 0.3s ease, visibility 0s linear 0.3s; /* Delay visibility change */
  /* Other styles for the delete button */
}

.active-lab-button:hover .delete-button {
  opacity: 1;
  visibility: visible; /* Make the delete button visible on hover */
  transition-delay: 0s;
}

.shake-card {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

#hero {
  /* background-size: contain;
  background: url(../public/svgs/grid.svg);
  background-position: top; */
  height: 200vh;
}

.header-sticky-wrapper {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(15, 19, 31, 0.7);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  position: fixed;
  top: 0;
  transition: all 0.25s ease;
  width: 100%;
  z-index: 5;
  /* height: 48px; */
  padding: 5px 0px;
}

.header-sticky-wrapper .header-sticky {
  -webkit-font-smoothing: antialiased;
  align-items: center;
  display: flex;
  height: auto;
  padding: 8px 0;
  justify-content: space-between;
  margin: auto;
  max-width: 1160px;
  position: relative;
}

.header-sticky-wrapper .header-sticky .header-logo,
.header-sticky-wrapper .header-sticky .header-nav {
  display: flex;
}

.header-sticky-wrapper
  .header-sticky
  .header-nav
  a.header-link:not(:last-child) {
  margin-right: 16px;
}

.header-sticky-wrapper .header-sticky .header-nav a.header-link {
  /* font-weight: 500; */
  margin-left: 16px;
  text-decoration: none;
}

.home-top {
  -webkit-font-smoothing: antialiased;
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 1160px;
  padding-top: 8em;
  width: 100%;
}

.home-top .home-top-content {
  color: hsla(0, 0%, 100%, 0.9);
  text-align: center;
  width: 100%;
  z-index: 2;
}

.home-top .home-top-content h2.sub-line {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
  margin: 32px auto;
  max-width: 800px;
}

.header-sticky-wrapper.scroll-top {
  background: rgba(15, 19, 31, 0);
  border-bottom: 1px solid;
  border-bottom-color: currentcolor;
  border-color: transparent;
}

.main-text {
  text-align: center;
  margin: 24px 0px;
  background: linear-gradient(
      to right bottom,
      rgb(255, 255, 255) 30%,
      rgba(255, 255, 255, 0.38)
    )
    padding-box text;
  box-decoration-break: clone;
  -webkit-text-fill-color: transparent;
  color: unset;
  padding-bottom: 0.13em;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  font-weight: 500;
}

.bzZmGu {
  animation: 1000ms ease 0s 1 normal backwards running kVRLZT;
}
.cmVMmT {
  text-align: center;
  margin: 24px 0px;
  box-decoration-break: clone;
  -webkit-text-fill-color: transparent;
  color: unset;
  padding-bottom: 0.13em;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  font-weight: 500;
  background: linear-gradient(
      to right bottom,
      rgb(255, 255, 255) 30%,
      rgba(255, 255, 255, 0.38)
    )
    padding-box text;
}

.haagJq {
  animation: 1200ms ease 400ms 1 normal backwards running kVRLZT;
}
.icTiAa {
  color: rgb(180, 188, 208);
  text-align: center;
  margin: 0px 0px 48px;
  font-size: 22px;
  line-height: 1.3;
  font-weight: 400;
}

.bLDfEd {
  color: currentcolor;
}

.gHTHlY {
  display: contents;
}

.cJPsz {
  overflow-x: hidden;
  margin-top: calc(-1 * 48px);
  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: -164px;
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  background: radial-gradient(
    ellipse 80% 50% at 50% -20%,
    rgba(120, 119, 198, 0.3),
    hsla(0, 0%, 100%, 0)
  );
}

.LayoutContent_root__ZBUya {
  padding-left: 20px;
  padding-right: 20px;
  max-width: calc(1200px + 20px + 20px);
  width: 100%;
  margin: 0 auto;
}

header ~ .Layout_content__PrPCk {
  padding-top: var(--header-height);
}
.Layout_content__PrPCk {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  min-height: calc(100 * 1dvh);
}

.hAvAAJ {
  display: flex;
  flex: initial;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
}
.htlrgj {
  margin-top: 64px;
}

.iAlLYX {
  width: min(var(--page-max-width), 100%);
  perspective: 2000px;
  padding-bottom: 100px;
  /* padding-bottom: 420px; */
  --base-delay: 0s;
}

.fcRICy.visible {
  animation-name: gXjgpT;
  animation-duration: 1400ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-delay: calc(var(--base-delay) + 400ms);
}
.fcRICy {
  --radius: 8px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: transform 400ms ease-out 0s;
  margin-top: 128px;
  /* transform: rotateX(25deg); */
}
.gpARPD {
  pointer-events: none;
  user-select: none;
}

.visible .sc-ae73eb3-6 {
  animation-name: gLqvyd;
  animation-duration: 4.1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-delay: calc(var(--base-delay) + 600ms);
}
.fcRICy > * {
  grid-area: 1 / 1 / 1 / 1;
}
.fqsAX {
  opacity: 0;
  background: conic-gradient(
    from 230.29deg at 51.63% 52.16%,
    rgb(36, 0, 255) 0deg,
    rgb(0, 135, 255) 67.5deg,
    rgb(108, 39, 157) 198.75deg,
    rgb(24, 38, 163) 251.25deg,
    rgb(54, 103, 196) 301.88deg,
    rgb(105, 30, 255) 360deg
  );
  filter: blur(160px);
  transform: translateZ(0px);
}



.fcRICy > * {
  grid-area: 1 / 1 / 1 / 1;
}
.llNjPV {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.01);
  background-image: radial-gradient(
      ellipse 50% 80% at 20% 40%,
      rgba(93, 52, 221, 0.1),
      var(--transparent)
    ),
    radial-gradient(
      ellipse 50% 80% at 80% 50%,
      rgba(120, 119, 198, 0.15),
      var(--transparent)
    );
  position: relative;
  border-radius: var(--radius);
  opacity: 0.2;
  animation: jBcSpD var(--base-delay) forwards;
}

.fcRICy > * {
  grid-area: 1 / 1 / 1 / 1;
}
.dkEHDs {
  --duration: 1200ms;
}

.visible .sc-ae73eb3-7[data-loaded="true"] {
  animation-name: lmXZKM;
  animation-duration: 400ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-delay: calc(var(--base-delay) + 680ms);
}
.fcRICy > * {
  grid-area: 1 / 1 / 1 / 1;
}
.gKMVY {
  --mask-start: linear-gradient(to right, #000 25%, #000000e6 50%, #00000000)
    150% 0 / 400% no-repeat;
  --mask-end: linear-gradient(to right, #000 25%, #000000e6 50%, #00000000) 0 /
    400% no-repeat;
  grid-area: 1 / 1 / 1 / 1;
  border-radius: var(--radius);
  max-width: unset;
  width: 100%;
  height: auto;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.05);
  opacity: 0;
  mask: var(--mask-start);
  filter: brightness(120%);
}
.tcnjh {
  height: auto;
  max-width: 100%;
}

.jykcho {
  color: rgb(180, 188, 208);
}

.keyfeatures .keyfeatures-blocks {
  grid-gap: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.keyfeatures .keyfeatures-blocks,
.keyfeatures h3 {
  -webkit-font-smoothing: antialiased;
  font-family: Manrope, sans-serif;
}
.anywhere{
  line-break: anywhere;
}

.keyfeatures .keyfeatures-blocks div {
  /* background: rgb(32, 33, 46);
  border: 1px solid rgb(53, 56, 74); */
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 44px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5em;
}

.keyfeatures .keyfeatures-blocks div p {
  color: rgb(107, 111, 118);
  margin-bottom: 0;
}

.keyfeatures .keyfeatures-blocks div svg {
  margin-bottom: 0.5em;
  margin-left: -4px;
}

.keyfeatures {
  margin-bottom: 64px;
  margin-top: 64px;
  max-width: 1160px;
  width: 100%;
}

.eZWIgh[data-orientation="horizontal"] {
  height: 1px;
  width: 100%;
  --direction: to right;
}
.eZWIgh {
  background: linear-gradient(
    var(--direction),
    transparent,
    rgba(255, 255, 255, 0.1) 50%,
    transparent
  );
  margin: 72px 0px;
}

.dytDgx {
  color: currentcolor;
  text-align: center;
  margin: 96px 0px 0px;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 450;
}

.LayoutContent_root__ZBUya {
  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);
  max-width: calc(
    var(--page-max-width) + var(--page-padding-left) + var(--page-padding-right)
  );
  width: 100%;
  margin: 0 auto;
}

.glNtfm {
  display: flex;
  flex: initial;
  flex-direction: column;
  gap: 36px;
}

.bpjhmv {
  max-width: 128px;
  margin: 0px auto;
}
.bFhqIN {
  height: auto;
  max-width: 100%;
}

.jHMutq {
  display: flex;
  flex: initial;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  gap: 64px;
}

.hwNsAr {
  white-space: nowrap;
}
.exmcmE {
  transform: translateY(-40%);
}
.dJZbCQ {
  text-align: center;
  margin: 0px;
  background: radial-gradient(
      40% 70% at 50% 0%,
      rgba(255, 255, 255, 0.6),
      rgb(255, 255, 255)
    )
    padding-box text;
  box-decoration-break: clone;
  -webkit-text-fill-color: transparent;
  color: unset;
  padding-bottom: 0.13em;
  /* font-size: 70px; */
  line-height: 0.9;
  letter-spacing: -0.01em;
  font-weight: 450;
}

.dpkSIT {
  display: flex;
  flex: initial;
  flex-direction: row;
  -moz-box-align: center;
  align-items: center;
  gap: 16px;
}

.jss130 {
  margin: 0 auto;
  position: relative;
  max-width: 1000px;
  text-align: center;
}
.jss26 {
  color: transparent;
  font-size: 40px;
  background: linear-gradient(180deg, #ffffff 0%, #aaaaaa 100%);
  background-clip: border-box;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 150%;
  font-display: block;
  letter-spacing: 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparenttext;
}

.jss131 {
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  max-width: 920px;
  margin-top: 32px;
  text-align: center;
  margin-bottom: 64px;
}
.jss135 {
  gap: 16px;
  color: white;
  border: 3px solid rgba(255, 255, 255, 0.07);
  cursor: pointer;
  display: flex;
  padding: 2px 16px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.07);
  transition: 150ms ease all;
  align-items: center;
  border-radius: 8px;
  flex-direction: row;
}


.jss137 {
  border: 3px solid rgba(255, 255, 255, 0.14);
  display: flex;
  overflow: hidden;
  max-height: 500px;
  border-radius: 8px;
  flex-direction: column;
}

.jss138 {
  border-bottom: 3px solid rgba(255, 255, 255, 0.07);
}

.jss139 {
  gap: 12px;
  color: white;
  width: fit-content;
  display: flex;
  padding: 8px 16px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}


code{
  font-family: 'JetBrains Mono', monospace !important;
}

.jss51 {
  font-size: 16px;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  background-color: #0D1117;
}

.jss52 {
  padding-top: 96px;
  padding-bottom: 96px;
}
.jss25 {
  margin: auto;
  max-width: 1372px;
  padding-left: 24px;
  padding-right: 24px;
}
.jss53 {
  justify-content: space-between;
}
.MuiGrid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}


@media (min-width: 1200px) {
  .MuiGrid-grid-xl-2 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
  }
}
.MuiGrid-item {
  margin: 0;
  box-sizing: border-box;
}

.jss54 {
  color: #FFFFFF;
  display: block;
  font-weight: 700;
  margin-bottom: 24px;
}

.jss54 {
  color: #FFFFFF;
  display: block;
  font-weight: 700;
  margin-bottom: 24px;
}

.jss56 {
  gap: 24px;
  color: #FFFFFF;
  margin: 0;
  display: grid;
  padding: 0;
  grid-auto-flow: column;
  justify-content: end;
  list-style-type: none;
  grid-auto-columns: min-content;
}

.jss57 {
  font-size: 14px;
  margin-top: 120px;
  text-align: center;
}

.jss58 {
  height: 2px;
  opacity: 0.2;
  background: linear-gradient(90deg, rgba(179, 191, 215, 0) 0%, #B3BFD7 16.67%, #B3BFD7 83.33%, rgba(179, 191, 215, 0) 100%);
}

.jss59 {
  margin-top: 40px;
}


.fbdyXp {
  border: 0.5px solid rgb(44, 46, 60);
  box-shadow: rgba(0, 0, 0, 0.098) 0px 2px 4px;
  border-radius: 6px;
  outline: none;
  
}


.jlBsiO {
  max-width: 640px;
  width: 100%;
}
.ioYMmf {
  display: flex;
  flex: initial;
  flex-direction: column;
}

.cAyNtX {
  display: flex;
  flex: initial;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.gUrCBj {
  display: flex;
  flex: initial;
  flex-direction: row;
  -moz-box-align: center;
  align-items: center;
  gap: 12px;
}



.htAZxf {
  line-height: 1.3;
}
.cpMQpB {
  font-style: normal;
  text-align: left;
  color: rgb(133, 134, 153);
  line-height: normal;
  font-size: 0.8125rem;
  font-weight: 500;
}

.fGoJiE {
  margin: 24px 0px;
}

.gna-dsN {
  margin-bottom: 24px;
}

.ePdqdi {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.ioYMmf {
  display: flex;
  flex: initial;
  flex-direction: column;
}

.gna-dsN label {
  display: block;
  padding-left: 2px;
  margin-bottom: 4px;
}

.bvcoGq {
  font-style: normal;
  text-align: left;
  color: rgb(210, 211, 224);
  line-height: normal;
  font-size: 0.8125rem;

  font-weight: 500;
}

.fHykyP {
  display: flex;
  flex: initial;
  flex-direction: row;
}

.dHFqIb {
  border-radius: 50%;
  overflow: hidden;
}
.Vihrj {
  position: relative;
}
.jKWMTP {
  display: inline-flex;
  flex: initial;
  flex-direction: row;
}

.gvNIOZ input {
  flex: 1 1 0%;
  width: 256px;
}


.iZhvmM {
  height: 150px;
  width: 150px;
  font-size: 65px;
}
.bPFOEz {
  display: flex;
  position: relative;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  line-height: 0;
  flex-shrink: 0;
  aspect-ratio: 1 / 1;
  width: 24px;
  height: 24px;
  font-size: 11px;
}

.bhauWF {
  display: flex;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(197, 91, 185);
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  transition: opacity 0.2s ease-in-out 0s;
}


.tJsVO {
  display: inline-block;
  padding-left: 2px;
  margin-right: 4px;
}
.BwEeY {
  font-style: normal;
  text-align: left;
  color: rgb(238, 239, 252);
  line-height: normal;
  font-size: var(--font-size-smallPlus);
  font-weight: 500;
}

.lhdcYD {
  margin-top: 4px;
}
.hDbocA {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: flex-start;
}

.fHykyP {
  display: flex;
  flex: initial;
  flex-direction: row;
}

.tJsVO {
  display: inline-block;
  padding-left: 2px;
  margin-right: 4px;
}
.cpMQpB {
  font-style: normal;
  text-align: left;
  color: rgb(133, 134, 153);
  line-height: normal;
  font-size: 0.8125rem;

  font-weight: 500;
}
.gna-dsN {
  margin-bottom: 24px;
}


.ioYMmf {
  display: flex;
  flex: initial;
  flex-direction: column;
}
.gna-dsN label {
  display: block;
  padding-left: 2px;
  margin-bottom: 4px;
}

.fHykyP {
  display: flex;
  flex: initial;
  flex-direction: row;
}

.gvNIOZ input {
  flex: 1 1 0%;
  width: 256px;
}
.kFBAIE {
  height: 32px;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 0.8125rem;
  margin: 0px;
  appearance: none;
  transition: border 0.15s;
}

.wRSCb {
  font-style: normal;
  text-align: left;
  color: rgb(133, 134, 153);
  line-height: normal;
  font-size: 0.8125rem;

  font-weight: normal;
}

.jVzpQn {
  margin: 0px 40px 64px;
}
.jAQqIz {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
}

.cyvxRV {
  flex-shrink: 0;
  height: 64px;
}

.dxdUZf {
  display: inline-flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  white-space: nowrap;
  flex-shrink: 0;
  margin: 0px;
  border-radius: 4px;
  font-weight: 500;
  line-height: normal;
  transition-property: border, background-color, color, opacity;
  transition-duration: 0.15s;
  user-select: none;
  position: relative;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px; */
  /* background-color: rgb(87, 91, 199); */
  color: rgb(255, 255, 255);
  min-width: 32px;
  height: 32px;
  padding: 0px 14px;
  font-size: 0.8125rem;

}



.tboTn {
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(44, 45, 60);
  margin-bottom: 24px;
}
.ioYMmf {
  display: flex;
  flex: initial;
  flex-direction: column;
}

.gUrCBj {
  display: flex;
  flex: initial;
  flex-direction: row;
  -moz-box-align: center;
  align-items: center;
  gap: 12px;
}


.hOuTWu {
  overflow: hidden;
}
.dIPdRh {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  gap: 8px;
}

.kKGSfO {
  display: block;
}
.fymMEF {
  font-style: normal;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(238, 239, 252);
  line-height: normal;
  font-size: 0.8125rem;

  font-weight: 500;
}

.jhSxJJ {
  line-height: 1.4;
}
.wRSCb {
  font-style: normal;
  text-align: left;
  color: rgb(133, 134, 153);
  line-height: normal;
  font-size: 0.8125rem;

  font-weight: normal;
}

.jouEsA {
  display: flex;
  flex: initial;
  flex-direction: row;
  -moz-box-align: center;
  align-items: center;
}

.GATXs {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  margin-right: 5px;
  -moz-box-pack: center;
  justify-content: center;
}

.clfcKZ {
  font-style: normal;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: currentcolor;
  line-height: normal;
  font-size: 0.8125rem;

  font-weight: normal;
}

.jlBvVU {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  background-color: rgb(25, 26, 35);
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid rgb(62, 66, 90);
  color: rgb(210, 211, 224);
}
.cvSnkm {
  font-style: normal;
  text-align: left;
  color: rgb(254, 255, 254);
  line-height: normal;
  font-size: 0.6875rem;
  font-weight: normal;
}

.jlBvVU::before {
  content: "•";
  font-size: 1rem;
  line-height: 1rem;
  margin-right: 2px;
  color: hsl(270, 45%, 24%);
}

.dnrtPT {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid rgb(223, 225, 228);
  color: rgb(60, 65, 73);
}

.dnrtPT::before {
  content: "•";
  font-size: 1rem;
  line-height: 1rem;
  margin-right: 2px;
  color: hsl(270, 45%, 24%);
}

.all-initial{
  all: revert;
  font-family: Inter;
}

.all-initial ol {
  list-style: revert;
  margin: revert;
  padding: revert;
}
.all-initial ol li{
  list-style: initial;
  margin: initial;
  padding: initial;
}

.all-initial *:not(code) {
  all: revert;
}
