@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
    --guide-width: 1px;
    --ds-gray-400-value: 0,0%,18%;
    --ds-gray-400: hsla(var(--ds-gray-400-value), 1)
    --guide-color: var(--ds-gray-400);



    --header-height: 48px;
    --page-padding-default: 32px;
  --page-max-width: 1200px;
  --page-padding-y: 120px;
  --page-padding-left:  20px;
  --page-padding-right:  20px;
  --transparent: hsla(0,0%,100%,0);
  --page-max-width: 1200px;
  }
 
  .dark {
    --background: LCH(12.236% 2.213 272.695);
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    color-scheme: dark;
  /* --color-bg-primary: #000212; */
  --color-bg-secondary: hsla(0,0%,100%,.03);
  --color-bg-tertiary: hsla(0,0%,100%,.07);
  --color-bg-quaternary: hsla(0,0%,100%,.15);
  --color-bg-quinary: hsla(0,0%,100%,.2);
  --color-border-primary: hsla(0,0%,100%,.08);
  --color-border-secondary: hsla(0,0%,100%,.12);
  --color-border-tertiary: hsla(0,0%,100%,.15);
  --color-text-primary: #f7f8f8;
  --color-text-secondary: #b4bcd0;
  --color-text-tertiary: #b4bcd099;
  --color-text-quaternary: #b4bcd066;
  --color-link-primary: #828fff;
  --color-link-hover: #fff;
  --color-brand-bg: #5e6ad2;
  --color-brand-text: #fff;
  --color-selection-text: #fff;
  --color-selection-bg: #4f52b4;
  --color-selection-dim: #4f52b499;
  --color-overlay-dim-rgb: 255,255,255;
  --color-overlay-primary: rgba(0,0,0,.4);
  --shadow-low: 0px 2px 4px rgba(0,0,0,.1);
  --shadow-medium: 0px 4px 24px rgba(0,0,0,.2);
  --shadow-high: 0px 7px 32px rgba(0,0,0,.35);
  --scrollbar-color: hsla(0,0%,100%,.2);
  --scrollbar-color-active: hsla(0,0%,100%,.4);
  --icon-grayscale-image-filter: grayscale(100%) brightness(400%);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  body {
    @apply dark:bg-[#0d1117] bg-white
  }
}

body{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background: #000212;
  color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}